instance.cfg
mmc-pack.json
/patches
/minecraft/figura
/minecraft/midi_files
/minecraft/resourcepacks
/minecraft/crash-reports
/minecraft/logs
/minecraft/saves
/minecraft/schematics
/minecraft/screenshots
/minecraft/server-resource-packs
/minecraft/shaderpacks
/minecraft/texturepacks
/minecraft/icon
/minecraft/options.txt
/minecraft/patchouli_data.json
/minecraft/moddata
/minecraft/cache
minecraft/usercache.json
