instance.cfg
mmc-pack.json
/patches
/minecraft/figura
/minecraft/midi_files
/minecraft/resourcepacks
/minecraft/crash-reports
/minecraft/logs
/minecraft/saves
/minecraft/schematics
/minecraft/screenshots
/minecraft/server-resource-packs
/minecraft/shaderpacks
/minecraft/texturepacks
/minecraft/icon
/minecraft/options.txt
/minecraft/patchouli_data.json
/minecraft/moddata
/minecraft/cache
minecraft/usercache.json
/minecraft/.probe
minecraft/mods/probejs-7.0.0-forge.jar
/minecraft/.mixin.out
/minecraft/.vscode
/minecraft/.mixin.out
/minecraft/.mixin.out
minecraft/servers.dat
minecraft/servers.dat_old
/minecraft/mods/.index
/minecraft/mods/.index
/minecraft/modernfix
/minecraft/config
/minecraft/.mixin.out
minecraft/.mixin.out/class/net/minecraft/client/particle/ParticleEngine.class
minecraft/.mixin.out/class/net/minecraft/client/particle/SingleQuadParticle.class
minecraft/.mixin.out/class/net/minecraft/world/entity/LivingEntity.class
minecraft/.mixin.out/class/net/minecraft/world/item/alchemy/PotionUtils.class
minecraft/.mixin.out/class/net/minecraft/world/level/Level.class
minecraft/config/agricraft.jsonc
minecraft/config/attributefix.json
minecraft/config/bridgingmod.json
minecraft/config/embeddium-options.json
minecraft/config/fabric/indigo-renderer.properties
minecraft/config/figura.json
minecraft/config/jade/plugins.json
minecraft/config/jade/sort-order.json
minecraft/config/oculus.properties
minecraft/config/voicechat/voicechat-client.properties
minecraft/Distant_Horizons_server_data/Minecraft+Server/imfoa5bbgpnku@aether@@the_aether/DistantHorizons.sqlite
minecraft/Distant_Horizons_server_data/Minecraft+Server/imfoa5bbgpnku@minecraft@@overworld/DistantHorizons.sqlite
minecraft/Distant_Horizons_server_data/Minecraft+Server/imfoa5bbgpnku@minecraft@@the_nether/DistantHorizons.sqlite
minecraft/emi.json
minecraft/mods/.connector/continuity-3.0.0+1.20.1.forge_mapped_srg_1.20.1.jar
minecraft/mods/.connector/continuity-3.0.0+1.20.1.forge_mapped_srg_1.20.1.jar.input
minecraft/mods/.index/emi-enchanting.pw.toml
minecraft/mods/.index/emi-loot.pw.toml
minecraft/mods/.index/emi-ores.pw.toml
minecraft/mods/.index/emi-professions-(emip).pw.toml
minecraft/mods/.index/emi.pw.toml
minecraft/mods/.index/emienchants.pw.toml
minecraft/mods/.index/emitrades.pw.toml
minecraft/tconplanner/bookmark.dat
minecraft/usercache.json
/minecraft/immersive_paintings_cache
